<p>Fournisseur</p>

<div *ngFor="let fournisseurs of fournisseurs">

  <div class="card">
    <div class="card-body">
      <ul>
        <li>{{fournisseurs.id}}</li>
        <li>{{fournisseurs.denomination}}</li>
        <li>{{fournisseurs.nomGerant}}</li>
        <li>{{fournisseurs.prenomGerant}}</li>
      </ul>
    </div>
  </div>
</div>

<ul class="mdc-list">
  <li class="mdc-list-item" tabindex="0">
    <span class="mdc-list-item__text">Single-line item</span>
  </li>
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">Single-line item</span>
  </li>
  <li class="mdc-list-item">
    <span class="mdc-list-item__text">Single-line item</span>
  </li>
</ul>
