<p>produits works!</p>

<div *ngFor="let produit of produits">
  <div class="card">
    <div class="card-body">
      <ul>
        <li>{{produit.id}}</li>
        <li>{{produit.description}}</li>
        <li>{{produit.idCategory}}</li>
        <li>{{produit.statut}}</li>
      </ul>
    </div>
  </div>
</div>v

<div class="card">
  <ul class="list-group">
    <li class="list-group-item active">Cras justo odio</li>
    <li class="list-group-item">Dapibus ac facilisis in</li>
    <li class="list-group-item">Morbi leo risus</li>
    <li class="list-group-item">Porta ac consectetur ac</li>
    <li class="list-group-item">Vestibulum at eros</li>

  </ul>


</div>

